# openssl.cnf
openssl_conf = openssl_init

[openssl_init]
providers = provider_sect
alg_section = algorithm_sect

[provider_sect]
default = default_sect
oqsprovider = oqsprovider_sect

[default_sect]
activate = 1

[oqsprovider_sect]
activate = 1
module = /opt/openssl-pqc/lib64/ossl-modules/oqsprovider.so

[algorithm_sect]
# Optional: Standard-Algorithmen setzen, falls nötig
# default_properties = "?provider=oqsprovider"